@model User
@{
    ViewData["Title"] = "Login";
}
<!-- Your view content here -->
@if (ViewBag.ShowToast != null && (bool)ViewBag.ShowToast)
{
    @foreach (var error in ViewBag.ToastMessage)
    {
        <script>
            toastr.options = {
                "positionClass": "toast-top-left",
                "timeOut": "3000", // Toast will disappear after 3 seconds
            }

            toastr.error("@error");

        </script>

    }
}

<script>
    $(document).ready(function () {
        $('header').empty();
        $('footer').empty();
    });
</script>

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img src="~/static/logo.svg" width="350" height="80" alt="Tabler">
            </a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Login to your account</h2>
                <form asp-action="Login" asp-controller="Account">
                    <div class="mb-3">
                        <label class="form-label" asp-for="UserName">Email address</label>
                        <input type="email" class="form-control required" placeholder="your@email.com" asp-for="UserName" required>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="PasswordHash">
                            Password
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control required" placeholder="Your password" autocomplete="off" asp-for="PasswordHash" required>

                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <span class="form-check-label">Remember me on this device</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

